*
{
    margin: 0;
    padding: 0;
}

.weather-info-display
{
    height: 50dvh;
    width: 70dvw;
    margin-left: 30dvh;
    margin-top: 20dvh;
    border: 1px solid black;
    display: flex;
justify-content: space-between;
background-image: url(https://images.pexels.com/photos/531756/pexels-photo-531756.jpeg?cs=srgb&dl=pexels-pixabay-531756.jpg&fm=jpg);
background-size: cover;
background-repeat: no-repeat;

}
.cf>button
{
    position: absolute;
    top: 10dvh;
    right: 10dvh;
    height: 10dvh;
    width: 10dvw;
    border-radius: 50px;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
    font-size: 1.3rem;
}
.container
{
    height: 50dvh;
    width: 30dvw;
    
}
.middle
{
    height: 30dvh;
    display: flex;
     
     
}

.current-weather
{
    
}
.time
{
     
}
.left
{

    width: 20dvw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right
{
    display: flex;
    width: 10dvw;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}
.text
{
    width: 30dvw;
    height: 10dvh;
    
    font-size: 1.5rem;
    display: flex;
    align-items: center;

}
.item
{
    height: 9.9dvh;
    border-bottom:  1px solid black;
    border-left:1px solid black;
    font-size: 1.5rem;
     display: flex;
     align-items: center;
}
 